import os
from pathlib import Path
from dynaconf import Dynaconf, LazySettings
from pydantic import BaseModel, Field, ValidationError
from typeguard import typechecked


class SettingsSchema(BaseModel):
    {{package_module | upper}}_HOME: Path = Field(
        default=Path(os.environ.get("{{package_module | upper}}_HOME", ".")),
        description="Root directory of the {{package_module}} project.",
    )
    {{package_module | upper}}_OPTIONS: Path = Field(
        default=Path(os.environ.get("{{package_module | upper}}_OPTIONS", "settings.toml")),
        description="Options file for the {{package_module}} project.",
    )
    log_level: str = Field(default="INFO")
    log_to_file: bool = Field(default=False)
    log_file: str = Field(default="./log/{{package_module}}.log")
    notebook_port: int = Field(..., ge=1024, le=49151)

def get_home_and_options() -> tuple[Path, Path]:
    """
    Get the home directory and options file from environment variables.
    """
    try:
        {{package_module | upper}}_HOME = Path(os.environ["{{package_module | upper}}_HOME"])
    except KeyError:
        raise KeyError(
            "{{package_module | upper}}_HOME environment variable is not set. "
            "Please set it to the root directory of the {{package_module}} project."
        )

    try:
        {{package_module | upper}}_OPTIONS = Path(os.environ["{{package_module | upper}}_OPTIONS"])
    except KeyError:
        raise KeyError(
            "{{package_module | upper}}_OPTIONS environment variable is not set. "
            "Please set it to the options file for the {{package_module}} project."
        )
    return {{package_module | upper}}_HOME, {{package_module | upper}}_OPTIONS


@typechecked
def read_settings() -> LazySettings:
    """
    Read settings from settings.toml and .secrets.toml - without validating.
    """
    {{package_module | upper}}_HOME, {{package_module | upper}}_OPTIONS = get_home_and_options()
    settings = Dynaconf(
        settings_files=[
            {{package_module | upper}}_HOME / {{package_module | upper}}_OPTIONS,
            {{package_module | upper}}_HOME / ".secrets.toml",
        ],  # Load from multiple files
        environments=True,  # Enable environments
    )
    settings.{{package_module | upper}}_HOME = {{package_module | upper}}_HOME
    settings.{{package_module | upper}}_OPTIONS = {{package_module | upper}}_OPTIONS
    # print("Done.")
    return settings


@typechecked
def validate_settings(settings_obj: LazySettings):
    """
    Validate the entire settings object against the schema.
    """
    # Use the pydantic model for schema validation
    # settings_obj represents the current settings object.
    # .dict() extracts all current settings as a dictionary for validation.
    try:
        # Convert settings to a dictionary and normalize keys to lowercase
        # Note that if you don't do this, you'll get errors like:
        #   database_url
        #       Field required [type=missing, input_value={
        # ...which is baffling b/c the field is clearly there.
        normalized_settings = {k.lower(): v for k, v in settings_obj.to_dict().items()}
        SettingsSchema.model_validate(normalized_settings)
        # print("Settings validated successfully.")
    except ValidationError as e:
        # print("Settings validation failed!")
        # print(e)
        raise e


@typechecked
def load_settings() -> LazySettings:
    """
    Get the settings object and validate it before returning.
    """
    s = read_settings()
    validate_settings(s)
    return s
