# {{ package_name }}

{{ package_description }}

## Prerequisites

`{{ package_name }}` uses `uv` for dependency and virtual-environment management.  So, make sure you have [installed uv system-wide](https://docs.astral.sh/uv/getting-started/installation/), e.g.:

```shell
curl -LsSf https://astral.sh/uv/install.sh | sh
```

Now you can use uv to install a current Python environment:

```shell
uv python install 3.13 # Or pick another version.
```

## Setup

```shell
# Create venv and install dependencies
uv sync
source .venv/bin/activate

# Setup .env
cp .env.example .env
source .env
```

## Development

For development workflows, see [development.md](development.md).

## Author Information

{{ package_author_name }} ({{ package_author_email }})
