import subprocess

# this will need tweaking when we have a real version, but should be ok when the project is initially generated
EXPECTED_VERSION = "0.0.1.dev1"

def test_entrypoint():
    """
    This *looks* superfluous to test_version, but test_version bypasses the uv-created entrypoint.
    (...Pretty sure, anyway.)
    """
    cmd = "{{package_name}} version".split(" ")
    result = subprocess.check_output(cmd).decode().strip()
    #assert result == f"{{package_name}} {EXPECTED_VERSION}"
    assert result.startswith(f"{{package_name}} {EXPECTED_VERSION}")
