from typer.testing import CliRunner

from {{ package_module }}.cmd.root import app

runner = CliRunner()

# this will need tweaking when we have a real version, but should be ok when the project is initially generated
EXPECTED_VERSION = "0.0.1.dev1"


def test_version():
    # '{{ package_name }} version' isn't valid as long as version is the only command
    # so, uncomment this whenever we add a second command
    result = runner.invoke(app, ["version"])
    # result = runner.invoke(app)
    assert result.exit_code == 0
    #assert f"{{ package_name }} {EXPECTED_VERSION}" in result.stdout
    assert result.stdout.startswith(f"{{ package_name }} {EXPECTED_VERSION}")
    assert result.stderr_bytes is None
