from {{package_module}}.logger import logger


def test_logger():
    """
    There isn't anything to assert here, really.
    I just want to make sure the logger doesn't inexplicably explode.
    """
    logger.info("Hello, world!")
